@import url("../fonts/myriad-pro/myriad-regular.css");
@import url("../fonts/NeoSans/neosans.css");
@import url("../fonts/NeoSans-Medium/neosans-medium.css");
/*=============================================================================================	
	style css decorated by : Web Architect (webarq.com)
==============================================================================================*/

body ::selection { background: #2CB3FF; }
body ::-moz-selection {
 background: #2CB3FF;
}
body {
	color: #333;
	font-size: 12px;
	font-family: 'MyriadProRegular';
}
img {
	border: 0;
	max-width: 100%;
	height: auto;
}
.italic { font-style: italic; }
.bold { font-weight: bold; }
.regular { font-weight: lighter; }
.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
p {
	margin: 1px 0 15px;
	line-height: 20px;
}
input, textarea, select {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	border: 1px solid #D8D8D8;
	padding: 5px;
	margin: 0;
	color: #666;
}
input[type=checkbox], input[type=radio] {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
h1 { font-size: 32px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
/* structure
----------------------------------------------------------------------------------------------*/
.wrapper {
	width: 960px;
	margin: 0 auto;
}
/* style button
----------------------------------------------------------------------------------------------*/
#btn_login { }
/* header
----------------------------------------------------------------------------------------------*/
header {
	position: relative;
	background-color: #ee3425;
}
header .left { margin-left: 45px; }
header .left .logo {
	float: left;
}
header .left a {
	display: inline-block;
	font-size: 14px;
	color: #FFF;
	padding-right: 18px;
	padding-left: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-decoration: none;
}
header .right { margin-right: 45px; }
header .right ul {
	list-style-type: none;
	margin: 0;
}
header .right ul li {
	float: left;
	/*position: relative;*/
}
header .right ul li a {
	font-size: 14px;
	color: #FFF;
	display: block;
	padding-right: 18px;
	padding-left: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-decoration: none;
}
header .right ul li a.active { background-color: #000; }
header .right ul li ul{
	position: absolute;
	top: 40px;
	left: 0px;
	right: 0px;
	background-color:#0a0303;
	text-align:center;
}
header .right ul li ul li{ display:inline-block; float:none; }
/* middle
----------------------------------------------------------------------------------------------*/
#middle { position: relative; }
section { position: relative; }
/* footer
----------------------------------------------------------------------------------------------*/
footer {
	position: relative;
	background-color:#ec3a23;
}
footer .right ul{
	list-style-type: none;
	margin: 0;
	width: 600px;
}
footer .right ul li{
	float: left;
	margin-bottom: 10px;
}
footer .right ul li a{
	color: #FFF;
	background-image: url(../images/material/list-footer.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	text-decoration: none;
	font-size: 13px;
	display: block;
	width: 185px;
}
footer .copyright{
	text-align: center;
	font-size: 13px;
	color: #777;
	margin:0;
	background-color: #000;
	padding-top: 20px;
	padding-bottom: 20px;
}
footer .copyright a{
	color: #ccc;
	text-decoration: none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
/* Mobile styles */
}
 @media screen and (min-width:481px) and (max-width:1024px) {
/* Tablet styles */
}
 @media only screen and (min-width: 1140px) {
/* Desktop styles */
}
